// Colors
$black: #212121;
$storm: #4E6B6C;
$smoke: #F7F7F7;
$accent: #FFAC26;

@import "base";

main {
  background-color: #F0F0F0;
}

@media(max-width: 400px) {
  body .container {
    padding: 3rem 0 0 0;
  }
}

.content {
  padding: 0em 2em .25em 2em;
  background: #FFF;
  @include border-radius(2px);
  box-shadow: 1px 1px 0 #E0E0E0;
  h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

div.entry-content {
  h3 {
    padding-top: 4em;
    font-weight: bold;
  }
}

div.podcastnav {
  margin: 1em 0 1em 0;
}

nav div:hover ul.top {
  border-bottom: 1px solid $accent;
}

nav div:hover ul.bot {
  border-top: 1px solid $accent;
}

.ancestor {
  padding: 1em;
  margin: 1em;
  background-color: $smoke;
  @include border-radius(10px);
  a {
    text-shadow: unset;
    background: $smoke;
    text-decoration: none;
    color: $black;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    &:hover {
      color: $accent;
    }
  }
}

.poster img{
  padding: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}

.footer-emblem {
  background-image: url('/images/haunet-emblemo.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 8em;
  text-align: right;
}

.haunetlist {
  text-align: left;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
