// Colors
$black: #212121;
$storm: #4E6B6C;
$smoke: #F7F7F7;
$accent: #7BC142;

@import "base";

nav div:hover ul.top {
  border-bottom: 1px solid $accent;
}

nav div:hover ul.bot {
  border-top: 1px solid $accent;
}

.footer-emblem {
  background-image: url('/images/hau-emblemo.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 8em;
  text-align: right;
}

#donate_form {
  margin-top: 1em;
  border-top: 1px solid $accent;
}

#currency_select {
  background-color: #FFF;
  padding: 5px;
}
