// Colors
$black: #212121;
$storm: #4E6B6C;
$smoke: #F7F7F7;
$accent: #7BC142;

@import "base";

nav div:hover ul.top {
  border-bottom: 1px solid $accent;
}

nav div:hover ul.bot {
  border-top: 1px solid $accent;
}

