// Colors
$black: #212121;
$storm: #4E6B6C;
$smoke: #F7F7F7;
$accent: #7BC142;

@import "base";

nav div ul {
  display: none;
  padding-left: 0;
}

nav div:hover ul {
  display: block;
  position: absolute;
  background-color: #FFF;
  padding: .5em .75em .5em 0;
  margin-bottom: 1em;
  text-align: left;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

nav div:hover ul.top {
  bottom: 2em;
  border-bottom: 1px solid $accent;
  border-radius: 5px;
}

nav div:hover ul.bot {
  border-top: 1px solid $accent;
  border-radius: 5px;
}

nav div ul li {
  list-style-type: none;
}

