{{ partial "header_haunet.html" . }}

    <section class="container">
        <section class="content">
            <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>

            <div class="entry-content">
                {{ .Content }}
            </div>
            <div class="entry-content haunetlist">
              <ul>
                {{ range .Site.Data.haunet }}
                <li>{{ .name | markdownify }}{{ if .locabbr }} ({{ .locabbr }}){{ end }}{{ if .location1 }}<ul class="circle"><li>{{ if .url1 }}<a href="{{ .url1 }}" target="_blank">{{ end }}{{ .location1 | markdownify }}{{ if .url1 }}</a>{{ end }}</li>{{ end }}{{ if .location2 }} <li>{{ if .url2 }}<a href="{{ .url2 }}" target="_blank">{{ end }}{{ .location2 | markdownify }}{{ if .url2 }}</a>{{ end }}</li>{{ end }}{{ if .location3 }}<li>{{ if .url3 }}<a href="{{ .url3 }}" target="_blank">{{ end }}{{ .location3 | markdownify }}{{ if .url3 }}</a>{{ end }}</li>{{ end }}{{ if .location1 }}</ul>{{ end }}</li>
                {{ end }}
              </ul>
            </div>
        </section>
        <br />
        {{ partial "disqus" . }}
    </section>

{{ partial "footer.html" . }}
